<h2>Sign in</h2>

<form [formGroup]="loginForm">
  <div>
    <label
      for="firstName"
      [class.label-invalid]="shouldDisplayValidationError(firstName)"
    >
      First Name
    </label>
    <input
      formControlName="firstName"
      id="firstName"
      type="text"
      required
    >
  </div>
  <div
    *ngIf="shouldDisplayValidationError(firstName)"
    class="validation-errors"
  >
    <small *ngIf="isRequiredError(firstName)">Required</small>
  </div>

  <div>
    <label
      for="lastName"
      [class.label-invalid]="shouldDisplayValidationError(lastName)"
    >
      Last Name
    </label>
    <input
      formControlName="lastName"
      id="lastName"
      type="text"
      required
    >
  </div>
  <div
    *ngIf="shouldDisplayValidationError(lastName)"
    class="validation-errors"
  >
    <small *ngIf="isRequiredError(lastName)">Required</small>
  </div>

  <div>
    <label
      for="email"
      [class.label-invalid]="shouldDisplayValidationError(email)"
    >
      E-mail Address
    </label>
    <input
      formControlName="email"
      id="email"
      type="text"
      required
    >
  </div>
  <div
    *ngIf="shouldDisplayValidationError(email)"
    class="validation-errors"
  >
    <small *ngIf="isRequiredError(email)">Required</small>
    <small *ngIf="isRegexPatternError(email)">Invalid email address</small>
  </div>

  <div>
    <label
      for="password"
      [class.label-invalid]="shouldDisplayValidationError(password)"
    >
      Password
    </label>
    <input
      formControlName="password"
      id="password"
      type="password"
      required
    >
  </div>
  <div
    *ngIf="shouldDisplayValidationError(password)"
    class="validation-errors"
  >
    <small *ngIf="isRequiredError(password)">Required</small>
    <small *ngIf="isMinLengthError(password)">Must be 8 characters or more</small>
  </div>

  <a href="#">
    Forgot password?
  </a>

  <button type="submit" (click)="submit()">
    Sign in
  </button>

  <a href="#">
    Don't have an account? Sign Up!
  </a>
</form>
