<h2>Sign in</h2>

<form [formGroup]="loginForm">
  <label for="email">
    E-mail Address
  </label>
  <input
    formControlName="email"
    id="email"
    type="text"
    required
  >

  <label for="password">
    Password
  </label>
  <input
    formControlName="password"
    id="password"
    type="password"
    required
  >

  <a href="#">
    Forgot password?
  </a>

  <button type="submit" (click)="submit()">
    Sign in
  </button>

  <a href="#">
    Don't have an account? Sign Up!
  </a>
</form>
