<div class="user-state-cards">
  <div class="user-state-card likes-card">
    <div class="user-state-icon like-icon">
      <app-like-icon #likeIconWrapper></app-like-icon>
      <ng-container *ngTemplateOutlet="likeIconWrapper.likeSvgTemplate"></ng-container>
    </div>

    <div>
      <p class="likes-count">12834</p>
      <h4 class="likes-title">Likes</h4>
    </div>

    <div class="arrow-icon arrow-up-icon">
      <svg
        class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-hajqjp-MuiSvgIcon-root"
        focusable="false"
        viewBox="0 0 24 24"
        aria-hidden="true"
        data-testid="ArrowDropUpIcon"
      >
        <path d="m7 14 5-5 5 5z"></path>
      </svg>
    </div>
  </div>

  <div class="user-state-card loves-card">
    <div class="user-state-icon heart-icon">
      <app-heart-icon #heartIconWrapper></app-heart-icon>
      <ng-container *ngTemplateOutlet="heartIconWrapper.heartSvgTemplate"></ng-container>
    </div>

    <div>
      <p class="loves-count">91134</p>
      <h4 class="loves-title">Love</h4>
    </div>

    <div class="arrow-icon arrow-right-icon">
      <svg
        class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-a7yg82-MuiSvgIcon-root"
        focusable="false"
        viewBox="0 0 24 24"
        aria-hidden="true"
        data-testid="ArrowRightIcon"
      >
        <path d="m10 17 5-5-5-5v10z"></path>
      </svg>
    </div>
  </div>

  <div class="user-state-card smiles-card">
    <div class="user-state-icon smile-icon">
      <app-smile-icon #smileIconWrapper></app-smile-icon>
      <ng-container *ngTemplateOutlet="smileIconWrapper.smileSvgTemplate"></ng-container>
    </div>

    <div>
      <p class="smiles-count">71238</p>
      <h4 class="smiles-title">Smiles</h4>
    </div>

    <div class="arrow-icon arrow-down-icon">
      <svg
        class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1pm3nrw-MuiSvgIcon-root"
        focusable="false"
        viewBox="0 0 24 24"
        aria-hidden="true"
        data-testid="ArrowDropDownIcon"
      >
        <path
          d="m7 10 5 5 5-5z"
        ></path>
      </svg>
    </div>
  </div>
</div>
