.user-state-card {
  padding: 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 16px;
}

.user-state-icon {
  width: 40px;
  height: 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 16px;

  & + div {
    flex-grow: 1;
  }
}

.like-icon {
  background-color: rgb(41, 98, 255);
}

.heart-icon {
  background-color: rgb(255, 61, 0);
}

.smile-icon {
  background-color: rgb(255, 196, 0);
}

.likes-title,
.loves-title,
.smiles-title {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.43;
  color: rgb(96, 125, 139);
}

.arrow-icon {
  width: 1em;
  height: 1em;
}

.arrow-up-icon {
  & svg {
    fill: rgb(0, 230, 118);
  }
}

.arrow-right-icon {
  & svg {
    fill: rgba(0, 0, 0, 0.26);
  }
}

.arrow-down-icon {
  & svg {
    fill: rgb(255, 61, 0);
  }
}
