<div class="user-targets">
  <div class="targets-card">
    <h3 class="targets-title">Targets</h3>

    <div class="targets-info views-info">
      <div class="targets-info-text">
        <h3 class="targets-info-title views-title">Views</h3>
        <p class="views-percent">{{ viewsPercent }}%</p>
      </div>
      <div class="targets-info-progress-bar views-progress-bar">
        <span class="progress-root">
          <span [style.transform]="getTranslateXValue(viewsPercent)" class="progress-bar"></span>
        </span>
      </div>
    </div>

    <div class="targets-info followers-info">
      <div class="targets-info-text">
        <h3 class="targets-info-title followers-title">Followers</h3>
        <p class="followers-percent">{{ followersPercent }}%</p>
      </div>
      <div class="targets-info-progress-bar followers-progress-bar">
        <span class="progress-root">
          <span [style.transform]="getTranslateXValue(followersPercent)" class="progress-bar"></span>
        </span>
      </div>
    </div>

    <div class="targets-info income-info">
      <div class="targets-info-text">
        <h3 class="targets-info-title income-title">Income</h3>
        <p class="income-percent">{{ incomePercent }}%</p>
      </div>
      <div class="targets-info-progress-bar income-progress-bar">
        <span class="progress-root">
          <span [style.transform]="getTranslateXValue(incomePercent)" class="progress-bar"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="meetings">
    <h3 class="meetings-title">Meetings</h3>

    <div class="meetings-list">
      <div *ngIf="randomUser$ | async as user" class="meeting-card">
        <div class="meeting-person-avatar">
          <img [ngSrc]="user.picture.thumbnail" width="40" height="40" alt="avatar">
        </div>

        <div class="meeting-info">
          <p class="meeting-person-name">{{ user.name.first }} {{ user.name.last }}</p>
          <p class="meeting-time">8.00 - 11.00</p>
        </div>

        <div class="chevron-right-icon">
          <svg
            class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
            focusable="false"
            viewBox="0 0 24 24"
            aria-hidden="true"
            data-testid="ChevronRightIcon"
          >
            <path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
          </svg>
        </div>
      </div>

      <div *ngIf="randomUser$ | async as user" class="meeting-card">
        <div class="meeting-person-avatar">
          <img [ngSrc]="user.picture.thumbnail" width="40" height="40" alt="avatar">
        </div>

        <div class="meeting-info">
          <p class="meeting-person-name">{{ user.name.first }} {{ user.name.last }}</p>
          <p class="meeting-time">8.00 - 11.00</p>
        </div>

        <div class="chevron-right-icon">
          <svg
            class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
            focusable="false"
            viewBox="0 0 24 24"
            aria-hidden="true"
            data-testid="ChevronRightIcon"
          >
            <path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
          </svg>
        </div>
      </div>

      <div *ngIf="randomUser$ | async as user" class="meeting-card">
        <div class="meeting-person-avatar">
          <img [ngSrc]="user.picture.thumbnail" width="40" height="40" alt="avatar">
        </div>

        <div class="meeting-info">
          <p class="meeting-person-name">{{ user.name.first }} {{ user.name.last }}</p>
          <p class="meeting-time">8.00 - 11.00</p>
        </div>

        <div class="chevron-right-icon">
          <svg
            class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
            focusable="false"
            viewBox="0 0 24 24"
            aria-hidden="true"
            data-testid="ChevronRightIcon"
          >
            <path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
          </svg>
        </div>
      </div>
    </div>

    <button class="add-meeting-button">
      <span>
        <svg
          class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
          focusable="false"
          viewBox="0 0 24 24"
          aria-hidden="true"
          data-testid="AddIcon"
        >
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
        </svg>
      </span>
    </button>
  </div>
</div>
