<div class="user-targets">
  <div class="targets-card">
    <h3 class="targets-title">Targets</h3>

    <div class="views-info">
      <h3 class="views-title">Views</h3>
      <p class="views-percent">23%</p>
      <div class="views-progress-bar"></div>
    </div>

    <div class="followers-info">
      <h3 class="followers-title">Followers</h3>
      <p class="followers-percent">23%</p>
      <div class="followers-progress-bar"></div>
    </div>

    <div class="income-info">
      <h3 class="income-title">Income</h3>
      <p class="income-percent">23%</p>
      <div class="income-progress-bar"></div>
    </div>
  </div>

  <div class="meetings">
    <h3 class="meetings-title">Meetings</h3>

    <div class="meetings-list">
      <div class="meeting-card">
        <div class="meeting-person-avatar"></div>

        <p class="meeting-person-name">John Smith</p>
        <p class="meeting-time">8.00 - 11.00</p>

        <svg
          class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
          focusable="false"
          viewBox="0 0 24 24"
          aria-hidden="true"
          data-testid="ChevronRightIcon"
        >
          <path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
        </svg>
      </div>

      <div class="meeting-card">
        <div class="meeting-person-avatar"></div>

        <p class="meeting-person-name">John Smith</p>
        <p class="meeting-time">8.00 - 11.00</p>

        <svg
          class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
          focusable="false"
          viewBox="0 0 24 24"
          aria-hidden="true"
          data-testid="ChevronRightIcon"
        >
          <path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
        </svg>
      </div>

      <div class="meeting-card">
        <div class="meeting-person-avatar"></div>

        <p class="meeting-person-name">John Smith</p>
        <p class="meeting-time">8.00 - 11.00</p>

        <svg
          class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
          focusable="false"
          viewBox="0 0 24 24"
          aria-hidden="true"
          data-testid="ChevronRightIcon"
        >
          <path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
        </svg>
      </div>
    </div>

    <button class="add-meeting-button">
      <svg
        class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
        focusable="false"
        viewBox="0 0 24 24"
        aria-hidden="true"
        data-testid="AddIcon"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
      </svg>
    </button>
  </div>
</div>
