.container {
  padding: 0 48px;
}

.admin-header {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-end;
  padding: 24px 0;
}

button {
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 90, 100);
  padding: 16px 24px;
  border-radius: 16px;
  cursor: pointer;

  &:hover {
    background-color: rgb(178, 178, 178);
  }
}
