<div class="user-state">
  <app-user-state-cards></app-user-state-cards>

  <div class="views-card">
    <h4 class="views-title">Views</h4>
    <p class="views-count">91234</p>

    <div class="views-chart">
      <svg
        class="recharts-surface"
        width="296"
        height="224"
        viewBox="0 0 296 224"
        version="1.1"
      >
        <defs>
          <clipPath
            id="recharts4-clip">
            <rect x="0" y="0" height="194" width="296"></rect>
          </clipPath>
        </defs>
        <g
          class="recharts-layer recharts-cartesian-axis recharts-xAxis xAxis"
        >
          <g class="recharts-cartesian-axis-ticks">
            <g class="recharts-layer recharts-cartesian-axis-tick">
              <text
                orientation="bottom"
                width="296"
                height="30"
                type="category"
                x="11.37890625"
                y="202"
                stroke="none"
                fill="#607D8B"
                font-size="12"
                class="recharts-text recharts-cartesian-axis-tick-value"
                text-anchor="middle"
              >
                <tspan
                  x="11.37890625"
                  dy="0.71em"
                >
                  Jan
                </tspan>
              </text>
            </g>
            <g class="recharts-layer recharts-cartesian-axis-tick">
              <text
                orientation="bottom"
                width="296"
                height="30"
                type="category"
                x="98.66666666666667"
                y="202"
                stroke="none"
                fill="#607D8B"
                font-size="12"
                class="recharts-text recharts-cartesian-axis-tick-value"
                text-anchor="middle"
              >
                <tspan x="98.66666666666667" dy="0.71em">Feb</tspan>
              </text>
            </g>
            <g class="recharts-layer recharts-cartesian-axis-tick">
              <text
                orientation="bottom"
                width="296"
                height="30"
                type="category"
                x="197.33333333333334"
                y="202"
                stroke="none"
                fill="#607D8B"
                font-size="12"
                class="recharts-text recharts-cartesian-axis-tick-value"
                text-anchor="middle"
              >
                <tspan x="197.33333333333334" dy="0.71em">Mar</tspan>
              </text>
            </g>
            <g class="recharts-layer recharts-cartesian-axis-tick">
              <text
                orientation="bottom"
                width="296"
                height="30"
                type="category"
                x="283.39453125"
                y="202"
                stroke="none"
                fill="#607D8B"
                font-size="12"
                class="recharts-text recharts-cartesian-axis-tick-value"
                text-anchor="middle"
              >
                <tspan x="283.39453125" dy="0.71em">Avr</tspan>
              </text>
            </g>
          </g>
        </g>
        <g class="recharts-layer recharts-area">
          <g class="recharts-layer">
            <path
              fill="#2962FF"
              fill-opacity="0.3"
              stroke-width="6"
              points="[object Object],[object Object],[object Object],[object Object]"
              width="296"
              height="194"
              type="monotone"
              stroke="none"
              class="recharts-curve recharts-area-area"
              d="M0,133.375C32.88888888888889,146.7125,65.77777777777777,160.04999999999998,98.66666666666667,160.04999999999998C131.55555555555557,160.04999999999998,164.44444444444446,48.5,197.33333333333334,48.5C230.22222222222223,48.5,263.1111111111111,72.75,296,97L296,194C263.1111111111111,194,230.22222222222223,194,197.33333333333334,194C164.44444444444446,194,131.55555555555557,194,98.66666666666667,194C65.77777777777777,194,32.88888888888889,194,0,194Z"
            >

            </path>
            <path
              type="monotone"
              fill="none"
              fill-opacity="0.3"
              stroke="#2962FF"
              stroke-width="6"
              points="[object Object],[object Object],[object Object],[object Object]"
              width="296"
              height="194"
              class="recharts-curve recharts-area-curve"
              d="M0,133.375C32.88888888888889,146.7125,65.77777777777777,160.04999999999998,98.66666666666667,160.04999999999998C131.55555555555557,160.04999999999998,164.44444444444446,48.5,197.33333333333334,48.5C230.22222222222223,48.5,263.1111111111111,72.75,296,97"
            ></path>
      </g>
      </g>
      </svg>
    </div>

    <div class="views-footer">
      <div class="dashboard-icon">
        <svg
          class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
          focusable="false"
          viewBox="0 0 24 24"
          aria-hidden="true"
          data-testid="DashboardIcon"
        >
          <path
            d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"></path>
        </svg>
      </div>

      <a class="dashboard-link" href="#">View Dashboard</a>

      <svg
        class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
        focusable="false"
        viewBox="0 0 24 24"
        aria-hidden="true"
        data-testid="ChevronRightIcon"
      >
        <path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
      </svg>
    </div>
  </div>
</div>
