<div class="user-state">
  <app-user-state-cards></app-user-state-cards>

  <div class="views-card">
    <h4 class="views-title">Views</h4>
    <p class="views-count">6.967.431</p>

    <div class="views-chart">
      <app-views-chart></app-views-chart>
    </div>

    <div class="views-footer">
      <div class="dashboard-icon">
        <svg
          class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
          focusable="false"
          viewBox="0 0 24 24"
          aria-hidden="true"
          data-testid="DashboardIcon"
        >
          <path
            d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"></path>
        </svg>
      </div>

      <a class="dashboard-link" href="#">View Dashboard</a>

      <svg
        class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1uynuqf-MuiSvgIcon-root"
        focusable="false"
        viewBox="0 0 24 24"
        aria-hidden="true"
        data-testid="ChevronRightIcon"
      >
        <path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
      </svg>
    </div>
  </div>
</div>
