@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;600;700&family=Nunito:wght@300;400;500;600;700;800&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgb(236, 239, 241);;
  color: rgb(69, 90, 100);
}

a {
  text-decoration: none;
  color: rgb(41, 98, 255);;
}

ul li {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}
